@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-loading-bar {
  animation: loading-bar 1.5s linear forwards;
}

html, body {
  @apply font-sans;
  .perspective {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

  html, body {
    @apply font-body;
    @apply font-title;
  }

